/* Estilos globais para o modo claro */
body.light-mode {
  background-color: #f4f4f9;
  color: #333;
}

/* Estilos globais para o modo escuro */
body.dark-mode {
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Texto branco */
}

.app {
  text-align: center;
  padding: 20px;
}

.app-title {
  color: inherit; /* Texto do título irá herdar a cor de acordo com o tema */
}

body.dark-mode .app-title {
  color: #ffffff; /* Título branco no modo escuro */
}

body.light-mode .app-title {
  color: #333; /* Título escuro no modo claro */
}

/* Ajuste dos elementos do TaskForm, inputs, etc. */
body.dark-mode input,
body.dark-mode textarea,
body.dark-mode button {
  background-color: #333; /* Cor dos inputs no modo escuro */
  color: #ffffff; /* Texto dos inputs no modo escuro */
  border: 1px solid #555; /* Borda suave no modo escuro */
}


